
<html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  <head>
    <title><%= title %></title>
    <meta property="og:title" content="<%= title %>">
    <meta property="og:site_name" content="">
    <meta property="og:url" content="">
    <meta property="og:description" content="<%= description %>">
    <meta property="og:type" content="article">
    <meta property="og:image" content="">
  </head>
  <body>
	<div class="titlebar">
		<a href="/"><i class="fa-solid fa-arrow-left-long"></i> Home</a>
	</div>
    <div id="wiki">
      <main>
        <div class="jumbotron">
          <h1><%= title %></h1>
          <p><%= description %></p>
          <hr>
        </div>
        <div class="jumbotron">
          <%- post %>
        </div>
      </main>
    </div>
  </body>
  <footer>
    <p class="text-center text-muted">&copy; <b>(Group) 2022</b></p>
  </footer>
	<style>
	.button {
		background-color: #008CBA; /* Green */
		border: none;
		color: white;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		cursor: pointer;
	} 
	.titlebar {
		overflow: hidden;
		background-color: #333;
	}
	.titlebar a {
		float: left;
		color: #f2f2f2;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 24px;
	}
		</style>
</html>
